 .categories{
        justify-content: space-between;
        display: flex;
        background: darkturquoise;
        margin: 20px auto;
        width: 100%;
        padding: 5px 10;
        font-weight: bold;
        font-size: medium;
       }
       .categories{
        color: gold;
       }
       .categories:hover{
        color: rgb(218, 215, 32);
       }
       .container{
        justify-content: space-around;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 400px 400px 400px 200px;
        margin: 20px;
        padding: 0px;
       }
       img{
        width: 190px;
        height: 160px;
       }
       .image1{
        justify-content: space-around;
        border: 2px solid black;
        width: 180px;
        padding: 20px;
        background-color:rgb(140, 236, 236);
        border-radius: 20px;
       }
       .image1 button{
        background-color: rgb(13, 88, 85);
        height: 30px;
        width: 160px;
        color: white;

        
       }
       .image1 button:hover{
        background-color: aliceblue;
        color: black;
       }